.contenedor {
    font-family: sans-serif;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
    font-size: 20px;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding: 10px;
    form {
        fieldset {
            justify-content: center;
            align-items: center;
            margin: 20px;
            padding: 20px;
            legend {
                margin: 10px;
            }
            label {
                margin: 10px;
                padding: 10px;
                
            } 
            .btn {
                align-items: center;
                padding: auto;
                margin: 10px;
            }
            #mensaje {
                display:inline-table;                     
            }
                     
        }
    }
}

#map {
	height: 500px;
	width: 100%;
}