@charset "UTF-8";
/*compilado con Live Sass Compiler*/
* {
  margin: 0%;
  padding: 0%;
}

/* Paleta de colores */
h1 {
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: sans-serif;
}

h2 {
  color: rgb(6, 6, 100);
  font-size: 48px;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}

h3 {
  font-size: 28px;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

h4 {
  font-family: sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

h5 {
  color: rgb(103, 255, 65);
  font-size: 48px;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black, 0px -1px 0px black;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.507);
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading i {
  font-size: 64px;
  object-fit: cover;
  color: rgb(217, 21, 235);
  animation-name: rotar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logo {
  list-style: none;
  width: auto;
  height: 60px;
  display: inline;
  padding: 10px;
  justify-self: center;
}

.btn {
  padding: 10px 20px;
  background-color: rgb(6, 6, 100);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.wave {
  grid-area: wave;
  margin-bottom: -2.8rem;
  height: 400px;
}

.navbar {
  font-family: "Shippori Antique B1", sans-serif;
  grid-area: navbar;
  position: -webkit-sticky;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0px;
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
  padding: 5px;
  z-index: 2;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background: var(--primario);
  height: 70px;
}
@media (max-width: 600px) {
  .navbar ul {
    position: fixed;
    top: 0;
    right: -350px;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(31, 29, 29);
    width: 200px;
    height: 100vh;
    transition: 0.2s;
    z-index: 100;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
  }
  .navbar ul:hover {
    right: 0;
  }
}
.navbar ul li {
  list-style: none;
  display: inline;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.navbar ul li a {
  list-style: none;
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
}
.navbar ul li a:hover:not(.active) {
  background: #3b3a3a;
  border-radius: 2rem;
  color: #fff;
}

.fa-bars {
  color: white;
  font-size: 30px;
  padding: 15px;
  visibility: hidden;
}
@media (max-width: 600px) {
  .fa-bars {
    visibility: visible;
  }
  .fa-bars:hover + ul {
    right: 0;
  }
}

.cuerpo {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.cuerpo .cuerpo__boton {
  padding: 15px;
  background-color: rgba(6, 6, 87, 0.473);
  color: #fff;
  border: none;
  border-radius: 50px;
  margin: 30px;
  position: sticky;
  z-index: 1;
  height: 40px;
  font-size: 18px;
}
.cuerpo .cuerpo__boton:hover::before {
  transform: translate(-16px, -50%);
  width: 100%;
  transition: 0.25s transform, 0.25s 0.25s width;
}
.cuerpo .cuerpo__boton:before {
  content: "";
  background-image: url(/assets/img/Logo/star-solid.svg);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(0, 0, 255, 0.822);
  position: absolute;
  transform: translate(120px, -50%);
  top: 50%;
  z-index: -1;
  transition: 0.25s 0.25s transform, 0.25s width;
}

main {
  grid-area: main;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/fondo/retro-80-tecnologic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: unset;
  background-position: center;
  height: auto;
  overflow: hidden;
}

aside {
  grid-area: aside;
  background-color: #fff;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.726), black);
}

#ofertas {
  grid-area: ofertas;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pages_usuario {
  width: 80%;
  height: 100%;
  margin: 20px;
  display: inline;
}

.registrarse {
  font-family: sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.form_usuario {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
  overflow: auto;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.form_usuario fieldset {
  padding: 30px;
}
.form_usuario fieldset .pages_usuario_titulo {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}
.form_usuario fieldset .pages_usuario_nombre {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.form_usuario fieldset .pages_usuario_apellido {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.form_usuario fieldset .pages_usuario_email {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.form_usuario fieldset .pages_usuario_estado_civil {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.form_usuario fieldset .pages_usuario_tipo_diseño {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.form_usuario fieldset .pages_usuario_novedades {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.form_usuario fieldset .pages_usuario_coment {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.form_usuario fieldset .pages_usuario_botton {
  padding: 2px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 40px;
  text-align: center;
}

.contenedor {
  font-family: sans-serif;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
  font-size: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding: 10px;
}
.contenedor form fieldset {
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
.contenedor form fieldset legend {
  margin: 10px;
}
.contenedor form fieldset label {
  margin: 10px;
  padding: 10px;
}
.contenedor form fieldset .btn {
  align-items: center;
  padding: auto;
  margin: 10px;
}
.contenedor form fieldset #mensaje {
  display: inline-table;
}

.card {
  font-family: sans-serif;
  width: 250px;
  border: 2px solid rgba(66, 63, 63, 0.781);
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  transition-delay: 0, 5s;
  transition-duration: 2s;
}
.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.3);
}
.card img {
  width: 250px;
  height: 220px;
  border-radius: 10px;
}
.card p {
  padding: 0.1rem;
  font-size: 16px;
  font-weight: 300;
}

.footer {
  grid-area: footer;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: black;
  margin-top: 0px;
}
.footer .footer__contenedor {
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}
.footer .footer__contenedor img {
  margin-bottom: -25px;
}
.footer .footer__contenedor h1 {
  color: #fff;
  font-size: 48px;
  width: 100%;
  text-align: center;
}
.footer .footer__contenedor p {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.footer .red_social {
  margin-top: 45px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.footer .red_social li {
  list-style: none;
}
.footer .red_social li p {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
.footer .red_social li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.footer .red_social li .fa-instagram {
  margin-right: 10px;
}
.footer .red_social li .fa-facebook {
  margin-right: 10px;
  margin-bottom: 20px;
}
#map {
	height: 500px;
	width: 100%;
}
/*# sourceMappingURL=style.css.map */
#contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contenedor-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 50px;
}

#carrito-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.producto-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  min-width: 250px;
  text-align: center;
  margin-bottom: 20px;
}

.producto-carrito img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.producto-carrito h3 {
  margin-bottom: 10px;
}

.producto-carrito p {
  font-size: 14px;
  margin-bottom: 10px;
}

.producto-carrito .precio {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
#boton-comprar {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#boton-comprar:hover {
  background-color: #0069d9;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f2f2f2;
}

.titulo-principal {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
}

#buscador {
  border: none;
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#buscador:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

/* Estilo para el título "Selecciona: Crear cuenta / Iniciar sesión" */
h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 40px;
}

/* Estilo para los botones de "Crear cuenta" e "Iniciar sesión" */
button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-color: #00a0e9;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #0086c0;
}

/* Estilo para los formularios de "Crear cuenta" e "Iniciar sesión" */
form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
}

input[type="submit"] {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-color: #00a0e9;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #0086c0;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

/* Estilo para el formulario de "Crear cuenta" */
#create-account-form {
  display: none;
}

/* Estilo para el formulario de "Iniciar sesión" */
#login-form {
  display: none;
}

/* Estilo para la sección de "Bienvenido" */
#user-account {
  display: none;
  text-align: center;
  margin-top: 40px;
}

#user-account h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#user-account p {
  font-size: 18px;
  margin-bottom: 10px;
}

#user-account ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#user-account li {
  font-size: 16px;
  margin-bottom: 10px;
}

#logout-button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  color: #fff;
 
}

/* Estilos CSS */
#create-account-form, #login-form, #user-account {
  display: none;
}

.error-message {
  color: red;
  font-weight: bold;
}

        